<div class="container-fluid d-flex justify-content-center">
    <div class="border-right border-dark box d-flex align-items-center my-5">
        <div class="text-white" >
            <h3>Experience The</h3>
            <h1>Best Trip Ever</h1>
            <p>We are committed to offering travel services of the highest quality, 
                combining our energy and enthusiasm with year of experience</p>
            <button type="button" class="btn btn-outline-light" routerLink="/contact-us">Contact us</button>
        </div>
    </div>
<div class="box d-none d-sm-inline"></div>
</div>