<div *ngIf="product">
    <div class="jumbotron">
        <div class="d-md-flex">
            <div class="mr-3 d-flex align-items-center justify-content-center">
                <img src="{{ product.image }}">
            </div>
            <div>
                <h4>{{ product.title }}</h4>
                <p class="lead">{{ product.description }}</p>
                <p class="lead">Date: {{ product.startDate }}</p>
                <p class="lead">Duration: {{ product.duration }}</p>
                <h5 class="lead">Price: {{ product.price }}€</h5>
            </div>
        </div>
        <hr class="my-4">
        <div class="d-flex justify-content-end">
            <div class="pr-4">
                <a class="btn btn-outline-secondary" (click)="addToCart(product)" role="button">Buy</a>
            </div>
            <a class="btn btn-outline-secondary mr-4" routerLink="/travel" role="button">Go back</a>
        </div>
    </div>
</div>